## NASA Mars News

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Driver [C:\Users\fyang\.wdm\drivers\chromedriver\win32\95.0.4638.69\chromedriver.exe] found in cache

In [ ]:
url = 'https://redplanetscience.com'
browser.visit(url)

In [ ]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.perser'
soup = BeautifulSoup(html, 'html.parser')

print(soup.prettify())

In [ ]:
results = soup.find_all('div', class_='list_text')

# Identify and return title 
news_title = results[0].find('div', class_='content_title').text
# Identify and return paragraph
news_p = results[0].find('div', class_='article_teaser_body').text
# Print results
print(news_title)
print(news_p)

## JPL Mars Space Images - Featured Image

In [ ]:
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [ ]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.perser'
soup = BeautifulSoup(html, 'html.parser')
print(soup.prettify())

In [ ]:
# click the eatured Mars Image botton
browser.links.find_by_partial_text('FULL IMAGE').click()

In [ ]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.perser'
soup = BeautifulSoup(html, 'html.parser')
print(soup.prettify())

In [ ]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('img', class_='fancybox-image')

In [ ]:
# find the url for the featured image
link = results[0]['src']
featured_image_url = url + '/' + link
featured_image_url

## Mars Facts

In [3]:
import pandas as pd

In [4]:
url = 'https://galaxyfacts-mars.com/'

In [5]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [6]:
df = tables[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [7]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [8]:
df = df.rename(columns={'Mars - Earth Comparison': 'Description'})

In [9]:
df = df.set_index('Description')

In [10]:
# convert the data to a HTML table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
# strip unwanted newlines to clean up the table.
html_table.replace('\n', '')
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [ ]:
# save the table directly to a html file
df.to_html('table.html')

## Mars Hemispheres

In [ ]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [ ]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.perser'
soup = BeautifulSoup(html, 'html.parser')
print(soup.prettify())

In [ ]:
# Retrieve the parent divs for all Hemispheres
results = soup.find_all('div', class_='description')

In [ ]:
    browser.visit(url)
    # scrape the hemisphere title
    title = results[0].find('h3').text
    
    # click on one hemisphere and go to the link
    browser.links.find_by_partial_text(title).click()

In [ ]:
# define a list to store hemisphere title and url
hemisphere_image_urls = []
# loop over results to get hemisphere data
for result in results:
    browser.visit(url)
    # scrape the hemisphere title
    title = result.find('h3').text
    
    # click on one hemisphere and go to the link
    browser.links.find_by_partial_text(title).click()
    
    # get the html for each hemisphere
    html = browser.html
    
    # Create BeautifulSoup object; parse with 'html.perser'
    soup = BeautifulSoup(html, 'html.parser')
    img_results = soup.find_all('img', class_='wide-image')
    image_url = img_results[0]['src']
    img_url = url + image_url
    
    # print hemisphere and image url
    print('-----------------')
    print(title)
    print(img_url)
    
    # Dictionary to be inserted into MongoDB
    hemisphere = {
        'title': title,
        'img_url': img_url,
    }
    hemisphere_image_urls.append(hemisphere)

In [ ]:
# display hemisphere_image_urls
hemisphere_image_urls

In [ ]:
# quit browser
browser.quit()